/* ======== FOOTER ======== */

.footer {
    background-color: #e58bbc;
    padding: 25px 0;
    margin-top: 40px;
    text-align: center;
    font-family: "Courier New", monospace;
    color: black;
}

.footer-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-redes {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}

.footer-redes a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.footer-redes a:hover {
    text-decoration: underline;
}

.footer-copy {
    margin-top: 10px;
    font-size: 0.9rem;
    opacity: 0.8;
}

/* Responsive */
@media (max-width: 600px) {
    .footer-redes {
        flex-direction: column;
        gap: 10px;
    }
}
