:root {
    --rosa-fuerte: #e57ab2;
    --negro: #000;
}

header {
    
    width: 100%;
    background-color: var(--rosa-fuerte);
    padding: 15px 0;
}

nav ul {
    margin: 0;
    padding: 0 40px;
    list-style: none;

    display: flex;

    align-items: center;

    font-family: 'Segoe UI', 'Roboto', sans-serif;
}

.right-menu a{
    border: 1px solid black;
    padding: 4px;
    border-radius: 40px;
}

.left-space,
.center-menu,
.right-menu {
    display: flex;
    align-items: center;
}


.left-space {
    flex: 1; 
}


.center-menu {
    gap: 40px;
    
    justify-content: center;
}


.right-menu {
    flex: 1; 
    justify-content: flex-end; 
}


nav a {
    color: var(--negro);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.right-menu a:hover{
    background-color: white;
    color: black;
    transition: 0.4 ease-in-out;
    text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 700px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .center-menu {
        justify-content: center;
        order: 1;
    }

    .right-menu {
        order: 2;
    }
}
