body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f8cce5;
  color: #000;
}

header {
  background-color: #f48fc0;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.titulo-principal {
  background-color: #ff9edb;
  color: black;
  display: inline-block;
  padding: 10px 40px;
  margin: 30px auto;
  font-size: 24px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

h2 {
  margin-top: 20px;
}

.presencial, .virtual {
  text-align: left;
  max-width: 900px;
  margin: 20px auto;
}

.contenido-presencial {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido-presencial img {
  width: 250px;
  border-radius: 5px;
}

.virtual p {
  text-align: left;
  margin-bottom: 20px;
}

.formularios {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.formulario {
  width: 40%;
}

form input {
  width: 100%;
  padding: 4px;
  margin-bottom: 8px;
  background-color: #fbd7ec;
  border: 1px solid #c47ea0;
}

textarea {
  width: 100%;
  height: 50px;
  background-color: #fbd7ec;
  border: 1px solid #c47ea0;
  margin-top: 5px;
}

hr {
  border: none;
  border-top: 1px solid #d483a6;
  width: 90%;
  margin: 30px auto;
}

.promociones {
  text-align: center;
  margin: 40px auto;
  max-width: 900px;
}

.imagenes-promos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.imagenes-promos img {
  width: 150px;
  border-radius: 5px;
}

.suscribite {
  background: none;
  border: none;
  color: red;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

footer {
  text-align: left;
  font-size: 10px;
  padding: 10px;
  color: #000;
  background-color: #f8cce5;
}
